body {
  width: 375px;
  height: 667px;
  background-color: blue;
}

.h1 {
  font-family: 'Playball';
  font-style: normal;
  font-weight: 400;
  font-size: 68.982px;
  line-height: 86px;
  text-align: center;
  color: #126BA5;
}