body {
  background: #E5E5E5;
  display: flex;
  justify-content: center;
}

.containerHome {
  width: 375px;
  height: 667px;
  background-color: #FFFFFF;
  border-radius: 1px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.containerHome img {
  margin-top: 80px;
  width: 154px;
  height: 80px;
  background-color: #FFFFFF;
}

.containerHome h1 {
  font-family: 'Playball';
  font-style: normal;
  font-weight: 400;
  font-size: 68.982px;
  line-height: 86px;
  text-align: center;
  color: #126BA5;
}
.containerHome h2 {
  margin-top: 25px;
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 400;
  font-size: 13.976px;
  line-height: 17px;
  text-align: center;
  text-decoration-line: underline;
  color: #52B6FF;
}

.containerForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.containerForm input {
  margin-top: 6px;
  box-sizing: border-box;
  width: 303px;
  height: 45px;
  background: #FFFFFF;
  border: 1px solid #D4D4D4;
  border-radius: 5px;
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 400;
  font-size: 19.976px;
  line-height: 25px;
  color: #DBDBDB;
}

.containerForm button {
  margin-top: 6px;
  width: 303px;
  height: 45px;
  background: #52B6FF;
  border-radius: 4.63636px;
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 400;
  font-size: 20.976px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
}